{% extends 'lab5/lab5.html' %}

{% block content %}
<h1>Create Article</h1>

<form method="post" action="{{ url_for('lab5.create') }}">
    <div style="margin-bottom: 1em;">
        <label for="title">Title</label><br>
        <input type="text" name="title" required>
    </div>

    <div style="margin-bottom: 1em;">
        <label for="text">Text</label><br>
        <textarea name="text" rows="5" required></textarea>
    </div>

    <div style="margin-bottom: 1em;">
        <label for="text">is_favorite</label><br>
        <input type="checkbox" name="is_favorite">
    </div>
        <div style="margin-bottom: 1em;">
        <label for="text">is_public</label><br>
        <input type="checkbox" name="is_public">
    </div>

    <button type="submit">Create</button>
</form>
{% endblock %}