{% extends 'lab5/lab5.html' %}

{% block content %}
<h1>Войти</h1>
<form action="" method="post">
    <div>
        <span>
            {% if error %}
                {{error}}
            {% endif %}
        </span>
    </div>
    <div>
        <label>
            Логин: <input type="text" name="login" id="">
        </label>
    </div>
    <div>
        <label>
            Пароль: <input type="password" name="password" id="">
        </label>
    </div>
    <button type="submit">
        Войти
    </button>
</form>
{% endblock %}