<!DOCTYPE html>
<html>
<head>
    {% block title %}
    {% endblock title %}
    {% block styles %}
    {% endblock styles %}
    <style>
        body{
            {% if request.cookies.get('color') %}
            color: {{request.cookies.get('color')}}
            {% endif %}
        }
    </style>
    {% block script %}
    {% endblock %}
</head>
<body>
    {% block lab %}
        
    {% endblock %}
    {% block navbar %}
    
    {% endblock %}
    {% block content %}
    
    {% endblock %}
</body>
</html>