<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Это пример шаблона рендереного с помощью встроенной функции render_template</p>
    <p>Студент {{ name }}</p>
    <p>11 * 28 = {{ 11 * 28 }}</p>
    <p>3258 - 759 = {{ 3258 - 759 }}</p>
    <p>8452 / 793 = {{ 8452 / 793 }}</p>
    <p>45 <sup>8</sup> = {{ 45 ** 8 }}</p>
    <p>
    {{fruits}}
    </p>
    <p>
        <ul>
            {%for f in fruits%}
            <li>
                {{loop.index}} - {{f.name}} : {{f.price}} &#x20bd
            </li>
            {%endfor%}
        </ul>   
    </p>

</body>
</html>