{% extends 'base.html' %}


{% block lab %}
    лабораторная работа 3
{% endblock %}


{% block content %}
    <h1>Оплата</h1>

    <form action="/lab3/success">
        <h1>К оплате {{price}}</h1>
        <div>Номер банковской карты:</div>
        <label for=""><input type="text" name="card" pattern="\d{16}"></label>

        <div>Имя держателя карты:</div>
        <label for=""><input type="text" name="name"></label>
        
        <div>Номер CVV:</div>
        <label for=""><input type="text" name="cvv"></label>
        <div>
            <button type="submit">Заказать</button>
            <a href="/lab3/order">Отказаться</a>
        </div>
    </form>
{% endblock %}
