{% extends "base.html" %}

{% block title %}
<title>Лабораторная 1</title>
{% endblock title %}

{% block content %}
<p>
    Flask — фреймворк для создания веб-приложений на языке
    программирования Python, использующий набор инструментов
    Werkzeug, а также шаблонизатор Jinja2. Относится к категории так
    называемых микрофреймворков — минималистичных каркасов
    веб-приложений, сознательно предоставляющих лишь самые ба-
    зовые возможности.
</p>
<a href="/">Назад на корень сайта</a>
<h2>Список роутов</h2>
<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/lab1">Лабораторная 1</a></li>
    <li><a href="/lab1/counter">Счетчик</a></li>
    <li><a href="/lab1/web">WEB</a></li>
    <li><a href="/lab1/author">Автор сайта</a></li>              
    <li><a href="/lab1/image">Image</a></li>              
    <li><a href="/lab1/info">Info</a></li>              
    <li><a href="/lab1/created">Created</a></li>      
    <li><a href="/crash">Crash</a></li>      
    <li><a href="/400">400</a></li>              
    <li><a href="/401">401</a></li>              
    <li><a href="/402">402</a></li>              
    <li><a href="/403">403</a></li>              
    <li><a href="/405">405</a></li>              
    <li><a href="/418">418</a></li>              
</ul>

{% endblock content %}

