body {
    background-color: #222;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    border: 3px solid #fff;
    border-radius: 10px;
}