{% extends 'base.html' %}


{% block lab %}
    лабораторная работа 4
{% endblock %}

{% block content %}
    <h1>Формы POST</h1>
    <div></div>
    <ol>
        <li><a href="{{url_for('lab4.view_form', operation='div')}}">Деление</a></li>
        <li><a href="{{url_for('lab4.view_form', operation='dif')}}">Вычитание</a></li>
        <li><a href="{{url_for('lab4.view_form', operation='sum')}}">Сложение</a></li>
        <li><a href="{{url_for('lab4.view_form', operation='exp')}}">Уменожение</a></li>
        <li><a href="{{url_for('lab4.lab')}}">Главная</a></li>
        <li><a href="{{url_for('lab4.tree')}}">Дерево</a></li>
        <li><a href="{{url_for('lab4.login')}}">Логин</a></li>
        <li><a href="{{url_for('lab4.fridge')}}">Холодильник</a></li>
        <li><a href="{{url_for('lab4.grain')}}">Зерно</a></li>
    </ol>
{% endblock %}