body {
    margin: 0;
}            

main {
    margin-bottom: 40px;
    padding: 10px;
}                

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgrey;
}                         

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    text-align: right;
    bottom: 0;
    left: 0;
    right: 0;
}        


